/* AddAdvertisementForm.css */
.form-container {
    width: 250px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.form-container input,
.form-container textarea,
.form-container button {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-container button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.alert {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
  padding: 20px;
}

.login-button {
  display: block;
  max-width: 50%;
  padding: 8px 20px 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  margin: 0 auto;
  border-radius: 10px;
  min-width: 80px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 25px;
}