:root {
  --card-background: #1F2833;
}

.card-container {
    width: 250px;
    background-color: var(--card-background);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    text-align: left;
    transition: all .5s;
    cursor: pointer;
}

.card-container:hover {
  box-shadow: 0 0 10px 7px black;
  transform: scale(1.1);
}

.important {
  border: 2px dotted red;
}
  
.card-container img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 250px;
  margin: auto;
  border-radius: 8px;
}

.description,
.description-active {
  max-height: calc(7em * .95);
  overflow: hidden;
  position: relative;
}

.description::after {
  content: "";
  display: block;
  background-image: linear-gradient(to right, transparent, var(--card-background) 80%);
  position: absolute;
  inset-inline-end: 0;
  top: calc(6em * .9);
  height: 1.2em;
  width: 100%;
  pointer-events: none;
}

.card-container-active {
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -45vh;
  margin-left: -45vw;
  width: calc(90vw - 30px * 2);
  height: calc(90vh - 30px * 2);
  background-color: var(--card-background);
  border-radius: 10px;
  padding: 30px;
  text-align: left;
  transition: all .5s;
  display: flex;
}

.card-container-active img {
  max-width: 50%;
  height: fit-content;
  border-radius: 8px;
  margin-right: 50px;
}

.card-container-active h3 {
  font-size: 2em;
}

.text-container {
  width: 100%;
}

.shadow {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 80%;
  transition: all .5s;
}

.close {
  display: none;
  background-color: red;
  border-radius: 5px;
  border: 2px solid black;
  font-weight: 1000;
  font-size: 20px;
  text-align: center;
  height: 30px;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
}