.app {
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters {
  display: flex;
}

.filters input,
.filters button {
  margin: 0 10px;
  padding: 0 15px;
  border-radius: 10px;
  min-width: 80px;
}

.filters label {
  margin: auto;
}

button {
  cursor: pointer;
}

.add-button {
  padding: 8px 20px 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  margin: 0 10px;
  border-radius: 10px;
  min-width: 80px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 25px;
}


.advertisement-list {
  display: flex;
  flex-wrap: wrap;
}

.advertisement-list a {
  margin: 10px;
}